<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traveljoin"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
	<!-- PERMISOS -->
	<!-- Used by the API to download map tiles from Google Maps servers. -->
    <uses-permission android:name="android.permission.INTERNET" />
	<!-- Allows the API to check the connection status in order to determine whether data can be downloaded. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Allows the API to cache map tile data in the device's external storage area. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="in.wptrafficanalyzer.locationingooglemapv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.CAMERA" />
	
	<uses-feature android:name="android.hardware.camera" android:required="true" />
	<uses-feature android:name="android.hardware.location" android:required="true" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
	<uses-feature android:name="android.hardware.sensor.compass" android:required="true" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
    
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
	<!-- Allows the API to use WiFi or mobile cell data (or both) to determine the device's location. -->
	<!-- uses-permission android:name="android.permission.android.permission.ACCESS_COARSE_LOCATION"/> -->
	<!-- Allows the API to use the Global Positioning System (GPS) to determine the device's location to within a very small area. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- The Google Maps Android API uses OpenGL ES version 2 to render the map. If OpenGL ES version 2 is not installed, your map will not appear.  -->
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.example.traveljoin.auxiliaries.GlobalContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<!-- actividad principal -->
        <activity
            android:name="com.example.traveljoin.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<!-- actividad para perfil de usuario -->
        <activity
            android:name="com.example.traveljoin.activities.UserProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
		<!-- actividad del mapa con los puntos de interes -->
        <activity
            android:name="com.example.traveljoin.activities.MapActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MainActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MainActivity" />
        </activity>
        
        <!-- actividad inicial para los Puntos de interes -->
        <activity
            android:name="com.example.traveljoin.activities.PoisMainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
        <!-- actividad para detalle de puntos de interes -->
        <activity
            android:name="com.example.traveljoin.activities.PoiDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
		<!-- actividad para Alta y modificacion de puntos de interes -->
        <activity
            android:name="com.example.traveljoin.activities.PoiFormActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
		<!-- actividad para Alta y modificacion de eventos -->
        <activity
            android:name="com.example.traveljoin.activities.EventFormActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.PoiFormActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.PoiFormActivity" />
        </activity>
   		
        <!-- actividad inicial para los Tours -->
        <activity
            android:name="com.example.traveljoin.activities.ToursMainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
        <!-- actividad para detalle de circuitos -->
        <activity
            android:name="com.example.traveljoin.activities.TourDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.ToursMainActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.ToursMainActivity" />
        </activity>
        
		<!-- actividad para Alta y modificacion de circuitos -->
        <activity
            android:name="com.example.traveljoin.activities.TourFormActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>                
        
        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        
        <activity
            android:name="com.example.traveljoin.activities.MapFilterActivity"
            android:label="@string/title_activity_filter_pois"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
            //con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras
            
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
        <!-- actividad inicial para los Grupos -->
        <activity
            android:name="com.example.traveljoin.activities.GroupsMainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.MapActivity" />
        </activity>
        
        <!-- Formulario de grupo -->
        <activity
            android:name="com.example.traveljoin.activities.GroupFormActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.example.traveljoin.activities.GroupsMainActivity" >
			<!-- con la linea de arriba y esta meta-data le indicamos a cada actividad cual es su padre para que se pueda volver atras -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.traveljoin.GroupsMainActivity" />
        </activity>
        
        <!-- Seleccionador de pois -->
        <activity
            android:name="com.example.traveljoin.activities.PoisSelectorActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name">            
        </activity>
        
		<!-- para incluir la libreria de google play services(y google maps) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
       	
		<!-- API obtenida en https://code.google.com/apis/console/ -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDE4pwwkOJUysZt2LUKcOjJM634L9INuXU" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />       
       
        <!-- Wikitude -->
        
        <!-- cam activities -->
        <activity android:name="com.example.traveljoin.wikitude.SampleCamActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>   
        <activity
             android:name="com.example.traveljoin.activities.AugmentedRealityActivity"
             android:configChanges="orientation|keyboardHidden|screenSize"
             android:label="@string/app_name"
             android:parentActivityName="com.example.traveljoin.activities.MapActivity" >
		     <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.example.traveljoin.MapActivity" />
		</activity>
		
        <!-- URL Launcher -->
        <activity
            android:name="com.example.traveljoin.wikitude.ARchitectUrlLauncherActivity"
            android:label="Sorongo" />
        <activity
            android:name="com.example.traveljoin.wikitude.ARchitectUrlLauncherCamActivity"
            android:configChanges="orientation|screenSize"
            android:label="Sorongo" />
        
        <!-- in case mediaplayer is used -->
		<activity android:name="com.wikitude.tools.activities.MediaPlayerActivity"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        
		<!-- FIN Wikitude -->
				
    </application>

</manifest>
